.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.PopupModal {

    .welcome-wrapper {
        background-color: #00709E;
        transition: opacity 0.5s ease-in-out;
    }

    .welcome-text {
        padding: 20px;
        font-size: 2em;
        color: #fff;
    }
}