.VisitorList {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 10px;
    display: flex;
    flex-wrap: wrap;
    // width: 30em;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 50px;
}

@media (max-width: 767px) {
    .VisitorList {
        // grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 767px) {
    .VisitorList {
        width: 30rem
    }
}

.visitor {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0px;
    padding-bottom: 1em;
    height: 3em;
}

.visitor-name {
    font-size: 2em;
    color: #00709E
}