.HomePage {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    width: 100vw;
}

.school-logo {
    width: auto;
    height: 10em;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: #00709E;
    font-size: 3em;
}

.swirl {
    // width: 100%;
    height: 50rem;
    position: absolute;

    bottom: 0;
    object-fit: contain;
    max-width: 100vw;
}